[submodule "building_blocks/StableVITON"]
	path = building_blocks/StableVITON
	url = https://github.com/rlawjdghek/StableVITON.git
[submodule "building_blocks/photo-background-generation"]
	path = building_blocks/photo-background-generation
	url = https://github.com/yahoo/photo-background-generation.git
[submodule "building_blocks/sd3_5"]
	path = building_blocks/sd3_5
	url = https://github.com/Stability-AI/sd3.5.git
[submodule "building_blocks/Harmonizer"]
	path = building_blocks/Harmonizer
	url = https://github.com/ZHKKKe/Harmonizer.git
