[submodule "building_blocks/StableVITON"]
	path = building_blocks/StableVITON
	url = https://github.com/Spatenfe/StableVITON.git
[submodule "building_blocks/photo-background-generation"]
	path = building_blocks/photo-background-generation
	url = https://github.com/yahoo/photo-background-generation.git
[submodule "building_blocks/sd3_5"]
	path = building_blocks/sd3_5
	url = https://github.com/weber-andreas/sd3.5
[submodule "building_blocks/Harmonizer"]
	path = building_blocks/Harmonizer
	url = https://github.com/ZHKKKe/Harmonizer.git
[submodule "building_blocks/detectron2"]
	path = building_blocks/detectron2
	url = https://github.com/weber-andreas/detectron2.git
[submodule "building_blocks/lang-segment-anything"]
	path = building_blocks/lang-segment-anything
	url = https://github.com/weber-andreas/lang-segment-anything.git
